/* ---------global----------------------------------------- */
/* ---------map-------------------------------------------- */
#viewDiv {
  width: 100%;
  height: 93vh;
  margin: 0;
  padding: 0;
}
#InfoMap {
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
}